<div class='c-author'>

  {% if author.gravatar %}
    <img class='c-author__img' src='{{ author.gravatar }}' alt='{{ name }}'>
  {% endif %}

  <div class='c-author__body'>
    <h3 class='c-author__name'>{{ author.name }}</h3>

    {% if author.bio %}
      <p class='c-author__bio'>{{ author.bio }}</p>
    {% endif %}

    <ul class='c-author-links o-plain-list'>
      {% if author.twitter_username %}
        <li class='c-author-links__item'>
          <a href='{{ twitter_url }}' target='_blank'>
            <span class='c-author-links__icon' data-icon='ei-sc-twitter' data-size='s'></span>
          </a>
        </li>
      {% endif %}

      {% if author.github_username %}
        <li class='c-author-links__item'>
          <a href='http://www.github.com/{{ author.github_username }}' target='_blank'>
            <span class='c-author-links__icon' data-icon='ei-sc-facebook' data-size='s'></span>
          </a>
        </li>
      {% endif %}

      {% if author.email %}
        <li class='c-author-links__item'>
          <a href='mailto:{{ author.email }}' target='_blank'>
            <span class='c-author-links__icon' data-icon='ei-envelope' data-size='s'></span>
          </a>
        </li>
      {% endif %}

      {% if author.website %}
        <li class='c-author-links__item'>
          <a href='{{ author.website }}'>
            <span class='c-author-links__icon' data-icon='ei-link' data-size='s'></span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

</div>