<div class='js-grid__col o-grid__col o-grid__col--2-4-m o-grid__col--1-3-l'>
  <div class='c-post-card'>

    {% if post.image %}
      <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card__image-link'>
        <img src='{{ post.image | prepend: site.baseurl }}' class='js-fadein c-post-card__image' alt="{{ post.title }}">
        {% if post.featured %}
        <span title='Featured Post'>
          <span class='c-post-card__featured-icon' data-icon='ei-star' data-size='s'></span>
        </span>
        {% endif %}
      </a>
    {% endif %}

    <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card__info {% unless post.image %} c-post-card__info--no-image {% endunless %}'>
      <h3 class='c-post-card__title'>{{ post.title }}</h3>

      <p class='c-post-card__excerpt u-font-small'>
        {{ post.content | strip_html | truncatewords:25 }}
      </p>

      <span class='c-post-card__date'>{{ post.date | date: '%d %b %Y' }}</span>
    </a>

  </div>
</div>