/*------------------------------------*\
  Elements > Links
\*------------------------------------*/

a {
  color: $color-link;
  text-decoration: none;
  transition: $global-transition;

  @include attention() {
    text-decoration: underline;
  }
}